@font-face {
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  src: url("fonts/Manrope-VariableFont_wght.ttf");
  src: url("fonts/static/Manrope-ExtraBold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  src: url("fonts/Manrope-VariableFont_wght.ttf");
  src: url("fonts/static/Manrope-Medium.ttf");
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1, h2, h3, h4 {
  margin: 0;
}

body {
  background-color: #F4F4F8;
}

.active-page {
  margin-left: 274px;
}

.active-page--roll {
  margin-left: 75px;
}

.sidebar {
  color: black;
  background-color: white;
  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}
.sidebar__logo {
  display: flex;
  align-items: center;
  margin: 12px 12px 12px 33px;
}
.sidebar__logo__icon {
  max-width: 46px;
  max-height: 46px;
}
.sidebar__logo__name {
  font-size: 24px;
  font-weight: 800;
  line-height: 116.667%;
  margin-left: 12px;
}
.sidebar__logo--active {
  margin: 12px 10px;
}
.sidebar__logo__icon--active {
  max-width: 30px;
  max-height: 30px;
}
.sidebar__collapse-icon {
  position: absolute;
  top: 31px;
  left: 262px;
  transition: 0.2s linear;
  animation: collapse 3s ease-in-out infinite;
}
.sidebar .sidebar__collapse-icon--closed {
  transform: rotate(180deg);
  transition: 0.2s linear;
  left: 60px;
}
.sidebar__list {
  margin-top: 30px;
}
.sidebar__list__item {
  padding: 14px;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
}
.sidebar__list__item p {
  font-weight: 800;
}
.sidebar__list__item:hover {
  border-radius: 16px;
  background: #F4F4F4;
}
.sidebar__list__item--active {
  padding: 12px;
  display: flex;
  border-radius: 16px;
  color: white;
  background: #3761F3;
  cursor: default;
}
.sidebar__list .item__icon {
  margin-right: 12px;
}
@media (max-height: 733px) {
  .sidebar .sidebar__list {
    max-height: 274px;
    overflow-y: scroll;
  }
}
.sidebar__bottom {
  position: absolute;
  bottom: 15px;
  z-index: 5;
}
.sidebar__teacher {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}
.sidebar__teacher img {
  margin-left: 27px;
}
.sidebar__teacher .teacher__info__name {
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}
.sidebar__teacher .teacher__info__title {
  color: rgba(47, 49, 68, 0.65);
  font-size: 13px;
  line-height: 153.846%;
}
.sidebar__logout {
  padding: 12px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
}
.sidebar__logout__icon {
  margin-right: 12px;
}
.sidebar__lng {
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
}
.sidebar__lng__icon {
  margin-right: 12px;
}
.sidebar__lng__arrow {
  position: relative;
  left: 90px;
}

/*---------------StudySession---------------*/
.study-session {
  background-color: white;
  border-radius: 8px;
  margin: 8px 8px 0 8px;
  height: 100%;
}
.study-session__title {
  padding-top: 22px;
  margin-left: 24px;
  width: 300px;
}

.create__card__title {
  background-color: #3761F3;
  color: white;
}

.table__body-info .v-table__wrapper {
  margin: 20px 20px 0 20px;
  border: 2px solid #F4F4F4;
  border-radius: 12px 12px 0px 0px;
}
.table__body-info .v-data-table__th {
  background-color: #F4F4F4 !important;
}
.table__body-info .v-data-table__th:nth-child(1) {
  width: 10%;
}
.table__body-info .v-data-table__tr:nth-child(2n) {
  background-color: #F4F4F4 !important;
}
.table__body-info .v-field__input {
  padding: 0 !important;
  min-height: 40px !important;
}
.table__body-info .v-card-text {
  padding: 0 !important;
}
.table__body-info .v-text-field {
  max-width: 260px;
}
.table__body-info .v-input__control {
  max-width: 260px;
  height: 44px;
}
.table__body-info .table__sort-btns {
  display: flex;
  justify-content: flex-end;
  margin: -25px 24px 0 0;
}
.table__body-info .table__sort-btns__icon {
  max-width: 44px;
  max-height: 44px;
  padding: 10px 10px;
  background-color: rgba(47, 49, 68, 0.08);
  border-radius: 12px;
  margin-left: 14px;
}
.table__body-info .table__sort-btns__create {
  color: white;
  border-radius: 12px;
  background-color: rgb(55, 97, 243) !important;
  max-height: 44px;
  max-width: 112px;
  padding: 0 16px;
  margin-left: 14px;
}
.table__body-info .table__bottom {
  background-color: rgb(245, 247, 249);
  margin: 0 20px 10px 20px;
  border-radius: 0 0 12px 12px;
  max-height: 52px;
}
.table__body-info .table__bottom__pagination {
  height: 52px;
}
.table__body-info .table__bottom__pagination .v-pagination__list {
  justify-content: normal !important;
  margin: 8px 11px 11px 16px;
}
.table__body-info .table__bottom__pagination .v-pagination__prev,
.table__body-info .table__bottom__pagination .v-pagination__next {
  border-radius: 8px;
  background-color: white;
  height: 30px;
}
.table__body-info .table__bottom__pagination .v-pagination__prev:hover,
.table__body-info .table__bottom__pagination .v-pagination__next:hover {
  border: 1px solid #3761F3;
  background-color: #FFF;
  color: #3761F3;
}
.table__body-info .table__bottom__pagination .v-btn--icon {
  width: 30px;
  height: 30px;
}
.table__body-info .table__bottom__pagination .v-pagination__item {
  background-color: white;
  border-radius: 8px;
}
.table__body-info .table__bottom__pagination .v-pagination__item:hover {
  border: 1px solid #3761F3;
  background-color: #FFF;
  color: #3761F3;
}
.table__body-info .table__bottom__pagination .v-pagination__item .v-pagination__item__--is-active {
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
