@font-face {
  font-weight: 800;
  font-family: 'Manrope', sans-serif;
  src: url("fonts/Manrope-VariableFont_wght.ttf");
  src: url("fonts/static/Manrope-ExtraBold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  src: url("fonts/Manrope-VariableFont_wght.ttf");
  src: url("fonts/static/Manrope-Medium.ttf");
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
h1, h2, h3, h4 {
  margin: 0;
}

body{
  background-color: #F4F4F8;
}
.active-page{
  margin-left: 274px;
}
.active-page--roll{
  margin-left: 75px;
}

.sidebar{
  color: black;
  background-color: white;
  float: left;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  bottom: 0;
  padding: 0.5em;

  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  &__logo{
    display: flex;
    align-items: center;
    margin: 12px 12px 12px 33px;
    &__icon{
      max-width: 46px;
      max-height: 46px;
    }
    &__name{
      font-size: 24px;
      font-weight: 800;
      line-height: 116.667%;
      margin-left: 12px;
    }
  }
  &__logo--active{
    margin: 12px 10px;
  }
  &__logo__icon--active{
    max-width: 30px;
    max-height: 30px;
  }
  &__collapse-icon{
    position: absolute;
    top: 31px;
    left: 262px;
    transition: 0.2s linear;
    animation: collapse 3s ease-in-out infinite;
  }
  .sidebar__collapse-icon--closed {
    transform: rotate(180deg);
    transition: 0.2s linear;
    left: 60px;
  }
  &__list{
    margin-top: 30px;
    &__item{
      padding: 14px;
      display: flex;
      cursor: pointer;
      transition: 0.2s;
      p {
        font-weight: 800;
      }
      &:hover{
        border-radius: 16px;
        background: #F4F4F4;
      }
      &--active{
        padding: 12px;
        display: flex;
        border-radius: 16px;
        color: white;
        background: #3761F3;
        cursor: default;
      }
    }
    .item__icon{
      margin-right: 12px;
    }
  }
  @media (max-height: 733px) {
    .sidebar__list{ //Скрываем часть навигации и отображаем скролл
      max-height: 274px;
      overflow-y: scroll;
    }
  }
  &__bottom{
    position:absolute;
    bottom:15px;
    z-index: 5;
  }
  &__teacher{
    //margin-top: 17.2vh;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    img {
      margin-left: 27px;
    }
    &__info{
    }
    .teacher__info__name{
      font-size: 15px;
      font-style: normal;
      font-weight: 800;
      line-height: 160%;
    }
    .teacher__info__title{
      color: rgba(47, 49, 68, 0.65);
      font-size: 13px;
      line-height: 153.846%;
    }
  }
  &__logout{
    padding: 12px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    &__icon{
      margin-right: 12px;
    }
  }
  &__lng{
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    &__icon{
      margin-right: 12px;
    }
    &__arrow{
      position: relative;
      left: 90px;
    }
  }
}

/*---------------StudySession---------------*/
.study-session{
  background-color: white;
  border-radius: 8px;
  margin: 8px 8px 0 8px;
  height: 100%;
  &__title{
    padding-top: 22px;
    margin-left: 24px;
    width: 300px;
  }
}

.table__body-info{
  .v-table__wrapper{
    margin: 20px 20px 0 20px;
    border: 2px solid #F4F4F4;
    border-radius: 12px 12px 0px 0px;

  }
  .v-data-table__th {
    background-color:#F4F4F4 !important;
  }
  .v-data-table__th:nth-child(1) {
    width: 10%;
  }
  .v-data-table__tr:nth-child(2n) {

    background-color:#F4F4F4 !important;

  }
  .v-field__input{
    padding: 0 !important;
    min-height: 40px !important;
  }

  .v-card-text{
    padding: 0!important;
  }
  .v-text-field{
    max-width: 260px;
  }
  .v-input__control{
    max-width: 260px;
    height: 44px;
  }
  .table__sort-btns{
    display: flex;
    justify-content: flex-end;
    margin: -25px 24px 0 0;
    &__icon{
      max-width: 44px;
      max-height: 44px;
      padding: 10px 10px;
      background-color: rgba(47, 49, 68, 0.08);
      border-radius: 12px;
      margin-left: 14px;
    }
    &__create{
      color: white;
      border-radius: 12px;
      background-color: rgba(55, 97, 243, 1);
      max-height: 44px;
      max-width: 112px;
      padding: 0 16px;
      margin-left: 14px;
    }
  }
  .table__bottom{
    background-color: rgba(245, 247, 249, 1);
    margin: 0 20px 10px 20px;
    border-radius: 0 0 12px 12px ;
    max-height: 52px;
    &__pagination{
      height: 52px;
      .v-pagination__list{
        justify-content: normal !important;
        margin: 8px 11px 11px 16px;
      }
      .v-pagination__prev,
      .v-pagination__next{
        border-radius: 8px;
        background-color: white;
        height: 30px;
        &:hover{
          border: 1px solid #3761F3;
          background-color: #FFF;
          color: #3761F3;
        }
      }
      .v-btn--icon{
        width: 30px;
        height: 30px;
      }
      .v-pagination__item{
        background-color: white;
        border-radius: 8px;
        &:hover{
          border: 1px solid #3761F3;
          background-color: #FFF;
          color: #3761F3;
        }
        .v-pagination__item__--is-active{
          border-radius: 8px;
        }
      }
    }

  }
}


